@import "../globals";

//
// UI Pattern
// ---------------------
// https://www.youtube.com/watch?v=ko0jgfRuxJM
// Panels extend to the edges of screen
// Content however still has fixed width in the center
// The first panel is usually large and is known as the hero
// Panels alternate in color
//
// CSS Pattern
// ---------------------
// Double Container Pattern - Brad Westfall - https://www.youtube.com/watch?v=ofSnkJ9tPPM
//
// CSS Tricks
// ---------------------
// https://css-tricks.com/design-considerations-text-images/
//

.panelContainer {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.95) 100%),
                    url("http://placemi.com/1200x400");
  background-size: cover;
  background-position:  center center;
  padding: 0 2em;
  border: 1px solid black;
}

.panelContent {
 width: $panel-content-width;
 font-family: $legible-font;
 margin: 0 auto;
 min-height: 300px;
 color: white;
}

.heroMessage {
 padding-top: 2em;
 h1 {
   font-size: 1.5em*2;
   margin: 0;
 }
 p {
   width: $panel-content-width/3;
   font-size: 1.5em;
 }
}
